{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4 mt-2">Active Polls</h2>
            {% if not poll_listing %}
                <h5 class="text-center mb-4 mt-2">No active polls available!</h5>
            {% else %}
                <form class="form-inline mt-2">
                    <div class="form-group mr-sm-2 mb-2">
                        <input type="search" class="form-control form-control-sm" name="search" placeholder="Search" value={{ search_term }}>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm mb-2"><i class="fas fa-search"></i>Search</button>
                </form>
                <ul class="list-group mt-3">
                    {% for poll in poll_listing %}
                    <li class="list-group-item">
                        <a href="{% url 'detail' poll.question.id %}">
                            {{ poll.question }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}